@import "tailwindcss";

@layer utilities {
  @keyframes fadeYellow {
    0% {
      background-color: #fef08a;
      color: black;
    }
    100% {
      color: unset;
      background-color: transparent;
    }
  }
  .animate-fade-yellow {
    animation: fadeYellow 0.75s ease-out forwards;
  }
}
